@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-x: auto;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}
